@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');


:root{
  --inicial:hsl(0,60%,40%);
}

body{
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 300;
  background:hsl(0, 80%,40%);
  color:rgba(0,0,0,.8);
}

h1,h2,h3,h4,h5,h6, .navbar-brand{
  font-weight: 600;
}

.container-fluid, .fixed-top{
   padding: 0 !important;
   margin: 0 !important;
}


h1 a{
  color:var(--inicial);
  text-decoration: none;
  transition:color ease .3s;
  background:url("logo.png") no-repeat left center;
  background-size:auto 100%;
  padding-left:1.75rem;
}

h1 a:hover{
  color:black; 
  transition:color ease .3s;
}

button.menu, a.more{
  color:rgba(0,0,0,.8);
  text-decoration: none;
  line-height: 1;
  border:none;
  border-radius: .75rem;
  padding:.25rem .5rem;
  margin-left:.2rem;
  font-size:90%;
  font-weight: 400;
  background:rgba(255,255,255,.4);
  transition: all ease .2s;
  font-weight: 600;
  font-size:.8rem;
  letter-spacing: 0.02rem;
  backdrop-filter: blur(4px);  
}

button.menu:hover, a.more:hover{
  color:rgba(0,0,0,1);
  background:rgba(255,255,255,.9);
  transition: all ease .2s;  
}

header{
  background:rgba(232,232,232,.8);
  backdrop-filter: blur(5px); 
}

h2{
    color:var(--inicial);
}

.masthead {
  height: 75vh;
  min-height: 500px;
  background:rgba(232,232,232,1)
}

.mastheadMore {
  height: 40vh;
  min-height: 400px;
  background:rgba(232,232,232,1)
}

.piccolo{
  font-weight: 800;
  font-size:0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-left:0.1rem;
}

.grosso{
  font-weight: 400;
  font-size:calc(2rem + 2vw);
  text-transform: uppercase;
}

footer a{
  color:rgba(255,255,255,.7);
  font-weight: bold;
}

footer a:hover{
  color:rgba(255,255,255,1);  
}

.statement{
  font-size:calc(1rem + .5vw);
  line-height: 1.2;
  color:rgba(0,0,0,.5);
}
